.container {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.header {
  padding: 14px;
  width: 100%;
}

.name {
  text-align: center;
  margin-bottom: 14px;
}

.name h1 {
  letter-spacing: 2px;
  word-spacing: 14px;
  color: #0c0912;
}

.sub-name p {
  text-align: center;
  color: #5c5a62;
  font-weight: 500;
  font-size: 14px;
}

.main {
  display: flex;
}

/* .aside {
  display: flex;
  width: 150px;
  height: 100%;
} */

.resume-body {
  width: 100%;
  height: 100%;
}

.resume-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.resume-item-description {
  padding: 0px 14px 7px 28px;
}

.resume-item-description h4 {
  margin-bottom: 7px;
  letter-spacing: 0.5px;
  color: #5c5a62;
}

.resume-item-sub-title {
  padding: 0px 28px;
}

.resume-item-sub-title h4 {
  word-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.resume-item-sub-title h4:first-child {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Oswald', sans-serif, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.resume-item-sub-title h4:last-child {
  color: #5c5a62;
}

.resume-item-title h2 {
  margin-left: 7px;
  letter-spacing: 0.5px;
}

.resume-section {
  margin-bottom: 7px;
}

.resume-section h3 {
  letter-spacing: 1.5px;
}

.resume-section p {
  color: #757575;
  margin-bottom: 7px;
}

.resume-item-actionable {
  list-style: disc;
}

.resume-item-actionable li {
  margin-left: 40px;
}
