.container {
  position: relative;
  display: block;
  width: 900px;
  min-height: 100vh;
  background-color: #fff;
  border: 1px solid black;
}

.header {
  margin-bottom: 28px;
  padding: 28px;
  width: 100%;
}

.name {
  text-align: center;
  margin-bottom: 14px;
}

.name h1 {
  letter-spacing: 2px;
  word-spacing: 14px;
  color: #0c0912;
}

.sub-name p {
  text-align: center;
  color: #5c5a62;
  font-weight: 500;
}

.main {
  display: flex;
}

.aside {
  display: flex;
  width: 240px;
  height: 100%;
}

.resume-body {
  width: calc(100% - 240px);
  height: 100%;
}

.resume-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.resume-item-description {
  padding: 0px 14px 7px 28px;
}

.resume-item-description h5 {
  color: #5c5a62;
  letter-spacing: 1px;
  margin-bottom: 7px;
  font-size: 15px;
}

.resume-item-sub-title {
  padding: 7px 28px 0px 28px;
}

.resume-item-sub-title h4:first-child {
  letter-spacing: 1px;
  color: #5c5a62;
}

.resume-item-sub-title h4:last-child {
  margin-bottom: 14px;
}

.resume-item-title h3 {
  margin-left: 14px;
}

.resume-section {
  margin-bottom: 7px;
}

.resume-section h3 {
  letter-spacing: 2px;
}

.resume-section p {
  color: #5c5a62;
  margin-bottom: 7px;
}

.resume-brief {
  margin-bottom: 14px !important;
}

.resume-item-actionable {
  list-style: disc;
}

.resume-item-actionable li {
  margin-left: 40px;
}
